<!DOCTYPE HTML>
<html>

<head>
    <title>Tüm Siparişler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}
<!-- Navbar End -->

<!-- Content -->

<body style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.png') }}); background-position: center;">
    <div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
        <br>
        <table style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ürün Adı</th>
                    <th>Ürün Adedi</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
            <tbody>
                {% for row in value %}
                <tr>
                    <td class="w3-gray">{{row[0]}}</td>
                    <td class="w3-gray">{{row[1]}}</td>
                    <td class="w3-gray">{{row[2]}}</td>
                    <td class="w3-gray">{{row[3]}}</td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

</body>

</html>