<!DOCTYPE HTML>
<html>

<head>
    <title>Personeller Listesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}
<!-- Navbar End -->

<!-- Content -->

<body style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.png') }}); background-position: center;">
    <div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
        <div class="w3-container">
            <br>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>E-mail</th>
                        <th>Kullanıcı adı</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Admin mi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in value %}
                    <tr>
                        <td class="w3-gray">{{row[0]}}</td>
                        <td class="w3-gray">{{row[1]}}</td>
                        <td class="w3-gray">{{row[2]}}</td>
                        <td class="w3-gray">{{row[3]}}</td>
                        <td class="w3-gray">{{row[4]}}</td>
                        <td class="w3-gray">{{row[6]}}</td>
                        <td class="w3-gray">{{row[7]}}</td>
                        <td class="w3-gray">{{row[8]}}</td>
                        <td class="w3-red">
                            <form action="/deletePersonal" method="POST">
                                <p hidden><input type="text" name="id" value={{row[0]}}></p>
                                <input type="submit" class="w3-button w3-red" value="Sil">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>

        <div class="w3-margin w3-padding w3-center w3-white w3-card" style="overflow-x:auto;">
            <div class="form-style-10">
                <h1>Kayıt!</h1>
                <div class="button">
                    <a href="/registerationForm" class="w3-button">Yeni çalışan ekle</a>
                </div>
            </div>
        </div>
</body>

</html>