<!DOCTYPE HTML>
<html>

<head>
    <title>Kayıt Ol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/toggleMenu.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
</head>

<!-- Navbar -->
{% include 'HEADER.html' %}
<!-- Navbar End -->

<!-- Content -->

<body style="font-family: 'Roboto', sans-serif; background-image: url({{ url_for('static', filename='images/root_background.png') }}); background-position: center;">

    <div class="form-style-10">
        <form action="/register" method="POST" onsubmit="return validate()">

            <h1>Kayıt!<span>Yeni çalışan ekle</span></h1>
            <div class="section"><span>1</span>Kişisel Bilgiler</div>
            <div class="inner-wrap">
                <p>İsim:<input type="text" name="adi"></p>
                <p>Soyisim: <input type="text" name="soyadi"></p>
                <p>Telefon: <input type="text" name="tel"></p>
                <p>E-mail:<input type="email" name="email"></p>
                <p>Kullanıcı Adı:<input type="text" name="kullaniciAdi"></p>
                <p>1. Adress: <input type="text" name="adres"></p>
            </div>
            <div class="section"><span>2</span>Şifre</div>
            <div class="inner-wrap">
                <p>Şifre: <input type="password" name="parola" id="parola" required></p>
                <p>Şifre(Tekrar):<input type="password" name="cpassword" id="cpassword"></p>
            </div>
            <div class="section"><span>3</span>Adminlik</div>
            <div class="inner-wrap">
                <p>Admin mi?: <input type="password" name="adminMi" id="adminMi" required placeholder="1 ya da 0"></p>
            </div>
            <input type="submit" value="Kaydet">
        </form>
    </div>
</body>

</html>